<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="https://e-citypay.co/"/>
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser" />
    <add key="GetToken" value="Authentication/Authenticate" />
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
    <add key="SaveLog" value="PayPadAdministrator/SaveLog" />
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad" />
    <add key="GetBalance" value="PayPadAdministrator/GetBalance" />
    <add key="GetUpload" value="PayPadAdministrator/GetUpload" />
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance" />
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload" />
    <add key="SavePayer" value="PayPadAdministrator/SavePayer" />
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction" />
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

  </appSettings>
</configuration>