<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="15000" />
    <add key="DurationView" value="120000" />
    <add key="TimerPublish" value="6" />
    <add key="IDCorresponsal" value="" />
    <add key="MinPayAmount" value="2000" />
    <add key="MinWithdrawalAmount" value="10000" />
    <add key="MaxWithdrawalAmount" value="600000" />
    <add key="NAME_PAYPAD" value="" />
    <add key="LAST_NAME_PAYPAD" value="" />
    <add key="NAME_APLICATION" value="" />
    <add key="NIT" value="891.400.669-6" />
    <add key="ProductName" value="Certificados Electrónicos" />
    <add key="ImageBoucher" value="../../Images/Others/img-boucher.png" />
    <add key="PathPublish" value="../../Images/Publish" />
    <add key="DirectoryFile" value="C:/CertificadosElectronicos" />
    <add key="PathTypeDocument" value="../../Mokups/Mockup_Type_Documents.json" />
    <add key="ValuesDispenser" value="DP:10000-DP:2000" />
    <add key="CuantityItemsList" value="5" />
    <add key="ClientPlataform" value="DISPENSADOR" />
    <add key="IntentsDownload" value="3" />
    <add key="CodeDepartmentBuyer" value="05" />
    <add key="CodeTownBuyer" value="196" />
    <add key="CodeCountryBuyer" value="001" />
    <!--<add key="PrinterName" value="Xerox Phaser 3330" />-->
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="BarcodePort" value="COM4" />
    <add key="BarcodeBaudRate" value="57600" />
    <add key="IdClient" value="101" />
    <add key="UrlBackground" value="../../Images/Keyboard/" />
    <add key="TimerInactividad" value="00:45"/>
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="PrintBandrate" value="9600" />
    <add key="PortPrinter" value="USB002" />
    <add key="Port" value="COM3"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="jbhGujvoRD+IZQ0hyq8gIG0ZTjPolFW4PdZ7etIewUw=" />
    <add key="basseAddressIntegration" value="https://siipereira.confecamaras.co/librerias/wsRestSII/v1/" />
    <!--Produccion Pereira-->
    <!--<add key="basseAddressIntegration" value="https://siidesarrollo.confecamaras.co/librerias/wsRestSII/v1/" />-->
    <!--Desarollo Pereira-->
    
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN DATA SM_KIOSCO________________________________________________________________________________________________________________________-->
    <!--<add key="UserAPI" value="1cero1"/>-->
    <!--Desarrollo-->
    <!--<add key="PassAPI" value="1cero1per2020*"/>-->
    <!--Desarrollo-->
    <add key="UserAPI" value="dispenpant"/>
    <!--Produccion-->
    <add key="PassAPI" value="E9k58R1ekhjikhyDokR7"/>
    <!--Produccion-->
    <add key="CodeCompany" value="27"/>
    <add key="OperadorControl" value="KIOSKO01"/>
    <add key="EmailControl" value="jnietot@gmail.com"/>
    <add key="IdControl" value="79048506"/>
    <add key="NameControl" value="KIOSKO 1 CERO1"/>
    <add key="PhoneControl" value="3106896601"/>
    <add key="CodificationService" value="S"/>
    <add key="TypeTransaction" value="certificadosvirtuales" />
    <add key="Proyect" value="1" />
    <add key="MethodPayment" value="01" />
    <!--END DATA SM_KIOSCO__________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser" />
    <add key="GetToken" value="Authentication/Authenticate" />
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
    <add key="SaveLog" value="PayPadAdministrator/SaveLog" />
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad" />
    <add key="GetBalance" value="PayPadAdministrator/GetBalance" />
    <add key="GetUpload" value="PayPadAdministrator/GetUpload" />
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance" />
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload" />
    <add key="SavePayer" value="PayPadAdministrator/SavePayer" />
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction" />
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIINTEGRATIONControllers______________________________________________________________________________________________________________________________________________-->
    <add key="GetTokenIntegration" value="solicitarToken"/>
    <add key="ConsultFileMercantil" value="consultarExpedienteMercantil" />
    <add key="LiquidateNormalRenewal" value="liquidarRenovacionNormal" />
    <add key="SearchFiles" value="busquedaExpedientes"/>
    <add key="SendTransaction" value="reportarTransaccion"/>
    <add key="SendPay" value="reportarPago"/>
    <add key="ConsultSettled" value="consultarRadicado"/>
    <add key="ConsultReceipt" value="consultarRecibo"/>
    <add key="BuyCancel" value="CamaraComercio/BuyCancel" />
    <!--END APIINTEGRATIONControllers____________________________________________________________________________________________________________________________________________-->
    <add key="ConnectionString" value="Data Source=C:\Users\H81\Documents\GitHub\WPFCCPereira\WPFCCPereira\WPFCCPereira\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>
  </appSettings>
</configuration>