<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="15000"/>
    <add key="DurationView" value="190000"/>
    <add key="TimerPublish" value="6"/>
    <add key="IDCorresponsal" value=""/>
    <add key="MinPayAmount" value="2000"/>
    <add key="MinWithdrawalAmount" value="10000"/>
    <add key="MaxWithdrawalAmount" value="600000"/>
    <add key="NAME_PAYPAD" value=""/>
    <add key="LAST_NAME_PAYPAD" value=""/>
    <add key="NAME_APLICATION" value=""/>
    <add key="NIT" value="891.400.669-6"/>
    <add key="ProductName" value="Certificados Electrónicos"/>
    <add key="ImageBoucher" value="../../Images/Others/img-boucher.png"/>
    <add key="PathPublish" value="../../Images/Publish"/>
    <add key="DirectoryFile" value="C:/CertificadosElectronicos"/>
    <add key="PathTypeDocument" value="../../Mokups/Mockup_Type_Documents.json"/>
    <add key="ValuesDispenser" value="DP:10000-DP:2000"/>
    <add key="CuantityItemsList" value="5"/>
    <add key="ClientPlataform" value="DISPENSADOR"/>
    <add key="IntentsDownload" value="3"/>
    <add key="CodeDepartmentBuyer" value="05"/>
    <add key="CodeTownBuyer" value="196"/>
    <add key="CodeCountryBuyer" value="001"/>
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="BarcodePort" value="COM4"/>
    <add key="BarcodeBaudRate" value="57600"/>
    <add key="IdClient" value="101"/>
    <add key="UrlBackground" value="../../Images/Keyboard/"/>
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="PrintBandrate" value="9600"/>
    <add key="PortPrinter" value="USB002"/>
    <add key="PortBills" value="COM3"/>
    <add key="PortCoins" value="COM21"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="https://e-citypay.co/"/>
    <!--Produccion Pereira-->
    <!--<add key="basseAddressIntegration" value="https://siipereira.confecamaras.co/librerias/wsRestSII/v1/"/>-->
    <!--Desarollo Pereira-->
    <add key="basseAddressIntegration" value="https://siidesarrollo.confecamaras.co/librerias/wsRestSII/v1/" />
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN DATA SM_KIOSCO________________________________________________________________________________________________________________________-->
    <!--Desarrollo-->
    <!--<add key="UserAPI" value="1cero1"/>
    <add key="PassAPI" value="cero2021*"/>-->  
    <!--Desarrollo-->
    <!--Produccion-->
    <add key="UserAPI" value="dispenpant"/>
    <add key="PassAPI" value="E9k58R1ekhjikhyDokR7"/>
    <!--Produccion-->
    <add key="CodeCompany" value="27"/>
    <add key="OperadorControl" value="KIOSKO01"/>
    <add key="EmailControl" value="jnietot@gmail.com"/>
    <add key="IdControl" value="79048506"/>
    <add key="NameControl" value="KIOSKO 1 CERO1"/>
    <add key="PhoneControl" value="3106896601"/>
    <add key="CodificationService" value="S"/>
    <add key="TypeTransaction" value="certificadosvirtuales"/>
    <add key="Proyect" value="1"/>
    <add key="MethodPayment" value="01"/>
    <add key="MinimoActivos" value="100"/>
    <add key="MinimoEmpleados" value="1"/>
    <!--END DATA SM_KIOSCO__________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog"/>
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount"/>
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail"/>
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad"/>
    <add key="GetBalance" value="PayPadAdministrator/GetBalance"/>
    <add key="GetUpload" value="PayPadAdministrator/GetUpload"/>
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance"/>
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <add key="SaveErrorConsole" value="Console/SaveErrorConsole"/>
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIINTEGRATIONControllers______________________________________________________________________________________________________________________________________________-->
    <add key="GetTokenIntegration" value="solicitarToken"/>
    <add key="SearchFiles" value="busquedaExpedientes"/>
    <add key="SendTransaction" value="reportarTransaccion"/>
    <add key="SendPay" value="reportarPago"/>
    <add key="ConsultSettled" value="consultarRadicado"/>
    <add key="ConsultReceipt" value="consultarRecibo"/>
    <add key="BuyCancel" value="CamaraComercio/BuyCancel"/>
    <add key="GetDiscount" value="aplicar1756Liquidacion"/>
    <!--BEGIN RENOVACION -->
    <add key="LoginUser" value="autenticarUsuarioRegistrado" />
    <add key="ConsultFileMercantil" value="consultarExpedienteMercantil"/>
    <add key="RenovacionNormal" value="liquidarRenovacionNormal" />
    <add key="GetFormularioRenovacion" value="recuperarFormularioRenovacion" />
    <add key="SetFormularioRenovacion" value="almacenarFormularioRenovacion" />
    <add key="SearchCiuus" value="consultarCiius" />
    <add key="FirmaElectronica" value="firmarElectronicamenteTramite" />
    <add key="ConsultarLiquidacion" value="consultarLiquidacion" />
    <add key="AplicarDescuento" value="aplicar1756Liquidacion" />
    <!--END APIINTEGRATIONControllers____________________________________________________________________________________________________________________________________________-->
    
    <add key="ConnectionString" value="Data Source=C:\Users\H-81\Documents\GitHub\WPFCCPereira\WPFCCPereira\WPFCCPereira\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>

  </appSettings>
</configuration>
